<h1>Projects</h1>
<div *ngIf="loading$ | async" class="center-page">
  <span class="spinner primary"></span>
  <p>Loading...</p>
</div>
<div *ngIf="saving$ | async" class="center-page">
  <span class="spinner primary"></span>
  <p>Saving...</p>
</div>
<div class="row">
  <div *ngIf="errorMessage$ | async as errorMessage" class="card large error">
    <section>
      <p><span class="icon-alert inverse"></span> {{ errorMessage }}</p>
    </section>
  </div>
</div>
<ng-container *ngIf="projects$ | async as projects">
  <app-project-list
    [projects]="projects"
    (saveListItem)="onSaveListItem($event)"
  >
  </app-project-list>
</ng-container>
